/* You can add global styles to this file, and also import other style files */
*{
    text-align: center;
}

/* Golden Button Styles */
.btn-golden {
  background-color: #ffd700; /* Golden background color */
  color: #000; /* Black text color */
  border: 1px solid #ffd700; /* Golden border */
  padding: 10px 20px; /* Padding */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Cursor style */
}

/* Light Golden Button Styles */
.btn-light-golden {
  background-color: grey; /* Light golden background color */
  color: #000; /* Black text color */
  border: 1px solid violet; /* Golden border */
  padding: 10px 20px; /* Padding */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Cursor style */
}

/* Hover effect for both golden and light golden buttons */
.btn-golden:hover, .btn-light-golden:hover {
  background-color: #ffd700; /* Change to golden background color on hover */
  border-color: #ffd700; /* Change to golden border color on hover */
  color: #fff; /* White text color on hover */
}
